{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container my-2 bg-light">
  <h1>Registration is Mandatory to get Loans</h1>
</div>
<div class="container">
  <div class="row row-cols-lg-2 g-4">
    <div class="col-lg-4">
      <div class="form-floating mb-3 bg-light">
        <h2>Login</h2>
        <form
          class="border border-light p-5"
          action="{% url 'users:login' %}"
          method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input
              type="text"
              name="username"
              class="form-control"
              id="floatingInput"
              placeholder="Username" />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              name="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password" />
            <label for="floatingPassword">Password</label>
          </div>
          <button class="btn btn-primary" type="submit">Login</button>
          <input type="hidden" name="next" value="{% url 'app32:home' %}" />
        </form>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-img-top position-relative overflow-hidden">
          <img
            src="{% static 'photos/1.jpg' %}"
            class="img-fluid w-100"
            alt="Image" />
          <div class="position-absolute top-0 start-0 p-3">
            <h1 class="card-title text-light">your membership today!!!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
